**/__pycache__
cache.sqlite
cache/http.sqlite
cache/datasets/agmip_kassie/experimental_data.csv
cache/datasets/agmip_kassie/management.csv
cache/datasets/balcarce/experimental_data.csv
cache/datasets/balcarce/management.csv
cache/datasets/braunschweig/biomass.csv
cache/datasets/braunschweig/grain_quality.csv
cache/datasets/braunschweig/management.csv
cache/datasets/broadbalk/yields.csv
cache/datasets/cunderdin/experimental_data.csv
cache/datasets/cunderdin/management.csv
cache/datasets/eest/experimental_data.csv
cache/datasets/eest/fertiliser.csv
cache/datasets/eest/management.csv
cache/datasets/egypt_nile/experimental_data.csv
cache/datasets/egypt_nile/management.csv
cache/datasets/german_met/experimental_data.csv
cache/datasets/german_met/management.csv
cache/datasets/hot_serial_cereal/experimental_data.csv
cache/datasets/hot_serial_cereal/fertiliser.csv
cache/datasets/hot_serial_cereal/management.csv
cache/datasets/iwyp_valdivia/experimental_data.csv
cache/datasets/iwyp_valdivia/management.csv
cache/datasets/luancheng/experimental_data.csv
cache/datasets/luancheng/management.csv
cache/datasets/ludhiana/experimental_data.csv
cache/datasets/ludhiana/management.csv
cache/datasets/muncheberg/crop.csv
cache/datasets/muncheberg/management.csv
cache/datasets/muncheberg/plots.csv
cache/datasets/obregon/experimental_data.csv
cache/datasets/obregon/management.csv
cache/datasets/pagv/experimental_data.csv
cache/datasets/pagv/management.csv
cache/datasets/wageningen/experimental_data.csv
cache/datasets/wageningen/management.csv
cache/datasets/westerfeld/FERTILIZATION.csv
cache/datasets/westerfeld/PLANT_PROTECTION.csv
cache/datasets/westerfeld/PLOT.csv
cache/datasets/westerfeld/SOWING.csv
cache/datasets/westerfeld/YIELD.csv
